html {
  background-color: #385769;
}

body {
  width: 1200px;
  height: 1300px;
  margin: 1% auto;
  text-align: center;
  font-size: 14px;
  font-family: 'Magic', serif;
  background-color: #5b7f8f;
}


/* fallback */
/*@font-face {
  font-family: 'Magic';
  src: url('../assets/font/magic/MagicSchoolOne.ttf');
}*/

.content {
  margin: 2%;
  font-family: 'Magic';
  font-size: 400%;
}

.image {
  padding-bottom: 2%;
  margin-top:5%;
  margin-left: 50%;
  position: relative;
  z-index: 50;
}

#circle circle {
fill: none;
pointer-events: all;
}

.group path {
fill-opacity: .5;
}

path.chord {
stroke: #000;
stroke-width: .25px;
}

#circle:hover path.fade {
display: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#myChart {
  margin-left: 20%;
}

#Chart2 {
  height: 1000px;
  width: 720px;
}

#piechart {
  height: 300px;
  width: 300px;
}
