html {
  background-color: #385769;
}

body {
  width: 1200px;
  margin: 1% auto;
  text-align: center;
  font-size: 14px;
  font-family: 'Antic Slab', serif;
  background-color: #5b7f8f;
}

/* fallback */
/*@font-face {
  font-family: 'Magic';
  src: url('../assets/font/magic/MagicSchoolOne.ttf');
}*/

.content {
  margin: 2%;
  font-family: 'Magic';
  font-size: 400%;
}

.image {
  padding-bottom: 2%;
  margin-top:5%;
  margin-left: 50%;
  position: relative;
  z-index: 50;
}

#myChart {
  margin-left: 20%;
}
