div.tooltip {
    position: absolute;
    color: white;
    opacity: .9;
    width: 300px;
    padding: 4px;
    font-family: 'Spirax', cursive;
    font-size: 16px;
    background: #6d6d6d;
    border: 2px solid #aeb4bf;
    border-radius: 5px;
    pointer-events: none;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .6;
    cursor: pointer;
}
.rect1:hover {
  fill:  #8a89a6;
}

.rect2:hover {
  fill:  #8a89a6;
}

.group:hover{
  cursor:pointer;
  font-weight:bold;
}

path.chord {
    stroke: #aeb4bf;
    stroke-width: .25px;
    fill-opacity: .8;
}

#circle:hover path.fade {
    display: none;
}


#piechart {
    height: 300px;
    width: 300px;
}


#Chart1, #Chart2, #Chart3, #Chart5, #Chart6, #Chart3Pop {
    font-family: 'Kaushan Script', cursive;
 }


#Chart2Popup {
    font-family: 'Kaushan Script', cursive;
    width: 800px;
 }


#Chart5Popup, #Chart6Popup {
    width: 800px;
}


#Chart6Popup, #Chart6Popup .axis line, #Chart6Popup .axis path, #Chart6Popup .axis text, #Chart6Popup .axis,
#Chart5Popup, #Chart5Popup .axis line, #Chart5Popup .axis path, #Chart5Popup .axis text, #Chart5Popup .axis{
  fill:  #8a89a6;
  font-size: 100%;
    }

#gap {
    font-size: 0px;
    line-height: 10px;
}

.tooltip {
    z-index: 200;
    position: absolute;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


.popup h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  color:  #06D85F;
  font-size: 30px;
  font-family: 'Ruthie', cursive;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:  #06D85F;
  overflow: auto;
}
.popup .close:hover {
  color: #06D85F;
}


Pop-Up Ende

.axis .domain {
  display: none;
}

path.slice{
   stroke-width:2px;
}

polyline{
   opacity: .3;
   stroke: black;
   stroke-width: 2px;
   fill: none;
}




/* .leaf.node.text {
    font-size: 20px;
} 

