div.tooltip {
    position: absolute;
    color: white;
    opacity: .9;
    width: 300px;
    padding: 4px;
    font-family: 'Spirax', cursive;
    font-size: 16px;
    background: #6d6d6d;
    border: 2px solid #aeb4bf;
    border-radius: 5px;
    pointer-events: none;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .6;
    cursor: pointer;
}

path.chord {
    stroke: #aeb4bf;
    stroke-width: .25px;
    fill-opacity: .8;
}

#circle:hover path.fade {
    display: none;
}

#Chart1 {
    font-family: 'Kaushan Script', cursive;
}

#Chart2 {
    font-family: 'Kaushan Script', cursive;
}

#piechart {
    height: 300px;
    width: 300px;
}

#Chart3 {
    font-family: 'Kaushan Script', cursive;

}

#gap {
    font-size: 0px;
    line-height: 10px;
}

.tooltip {
    z-index: 200;
    position: absolute;
}


//Pop-Up

.button_box {
  width: 40%;
  margin: 0 auto;
  padding: 25px;
  background-clip: padding-box;
  text-align: center;
 }

 .button_box .button{
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  }

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


.popup h2 {
  margin-top: 20px;
  color:  #06D85F;
  font-size: 30px;
  font-family: 'Ruthie', cursive;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color:  #06D85F;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
  position: fixed;
  padding-left:20%;
  overflow: auto;

}

@media screen and (max-width: 1250px){
  .button_box{
    width: 100%;
  }
  .popup{
    width: 100%;
  }
}Pop-Up Ende





/* .leaf.node.text {
    font-size: 20px;
} 

